<ng-container [ngSwitch]="dataType">
  <ng-container *ngSwitchCase="'buff'">
    <mat-action-list dense *ngFor="let item of _dataSource$ | async | as: E7BuffItems">
      <mat-list-item
        (click)="handleClickListItem($event, item)"
        [class.bg-green-100]="item.selection.isSelected"
      >
        <div class="flex flex-row items-center w-full">
          <img src="assets/e7/status-effect/{{ item.value.enName }}.png" class="mr-2" />
          <span>
            {{ item.value.name }}
          </span>
          <div class="grow"></div>
          <span> {{ item.analytic.usedRate | usedRate }}% </span>
        </div>
      </mat-list-item>
    </mat-action-list>
  </ng-container>

  <ng-container *ngSwitchCase="'role'">
    <button class="flex flex-row gap-4">
      <span
        *ngFor="let item of _dataSource$ | async | as: E7RoleItems"
        [class.bg-green-100]="item.selection.isSelected"
        matBadge="{{ item.analytic.usedRate | usedRate }}%"
        matBadgePosition="below after"
        matBadgeColor="accent"
        (click)="handleClickListItem($event, item)"
      >
        <img src="assets/e7/role/{{ item.value.name }}.png" [alt]="item.value.name" />
      </span>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="'element'">
    <button class="flex flex-row gap-8">
      <span
        *ngFor="let item of _dataSource$ | async | as: E7ElementItems"
        [class.bg-green-100]="item.selection.isSelected"
        matBadge="{{ item.analytic.usedRate | usedRate }}%"
        matBadgePosition="below after"
        matBadgeColor="accent"
        (click)="handleClickListItem($event, item)"
      >
        <img src="assets/e7/element/{{ item.value.name }}.png" [alt]="item.value.name" />
      </span>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="'rarity'">
    <button class="flex flex-row gap-8">
      <div
        *ngFor="let item of _dataSource$ | async | as: E7RarityItems"
        [class.bg-green-100]="item.selection.isSelected"
        matBadge="{{ item.analytic.usedRate | usedRate }}%"
        matBadgePosition="below after"
        matBadgeColor="accent"
        (click)="handleClickListItem($event, item)"
      >
        <span class="flex flex-row items-center justify-center">
          <span class="antialiased text-3xl">
            {{ item.value.name }}
          </span>
          <img src="assets/e7/star.png" alt="星" />
        </span>
      </div>
    </button>
  </ng-container>
</ng-container>
