<div class="pt-4 px-4 sm:px-2 grid grid-cols-12 gap-2">
  <mat-card class="col-span-12">
    <p>or group</p>
  </mat-card>

  <mat-card class="col-span-3">
    <p>and group - search</p>
  </mat-card>

  <mat-card class="col-span-9">
    <p>game object - search</p>
  </mat-card>

  <div class="col-span-3">
    <div class="grid grid-flow-row gap-2">
      <mat-card style="height: 256px">
        <p>and group 2</p>
      </mat-card>
      <mat-card style="height: 128px">
        <p>and group 2</p>
      </mat-card>
      <mat-card style="height: 402px">
        <p>and group 2</p>
      </mat-card>
    </div>
  </div>

  <div class="col-span-9">
    <div class="grid grid-flow-row gap-2">
      <mat-card>
        <p>game object analytic info</p>
      </mat-card>
      <mat-card style="height: 100vh;">
        <p>game object data table</p>
      </mat-card>
    </div>
  </div>
</div>
