<mat-toolbar class="mat-elevation-z6" color="primary">
  <div class="md:container md:mx-auto">
    <div
      class="flex flex-row items-center"
      *subscribe="gameLinks$; let gameLinks"
    >
      <a class="md:mr-8" routerLink="/" id="navbar-home" alt="home">Home</a>
      <a
        mat-button
        *ngFor="let gameLink of gameLinks"
        [routerLink]="gameLink.routerLink"
        [id]="gameLink.ui.id"
        [class.navbar-header-item-selected]="gameLink.ui.isActive"
        >{{ gameLink.name | uppercase }}</a
      >
      <div class="grow"></div>
      <a href="https://github.com/XuHaoJun/game-filter" target="_blank">
        <span class="fab fa-github"></span>
      </a>
    </div>
  </div>
</mat-toolbar>

<main class="md:container md:mx-auto" id="main-content">
  <ng-content></ng-content>
</main>

<footer></footer>
