<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Hero</th>
    <td mat-cell *matCellDef="let element">
      <div class="flex flex-col items-center justify-start">
        <img class="e7-hero-avatar" src="{{ element.assets.icon }}" />{{
          element.name
        }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="rarity">
    <th mat-header-cell *matHeaderCellDef>Rarity</th>
    <td mat-cell *matCellDef="let element">{{ element.rarity }}</td>
  </ng-container>

  <ng-container matColumnDef="attribute">
    <th mat-header-cell *matHeaderCellDef>Element</th>
    <td mat-cell *matCellDef="let element">{{ element.attribute }}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Class</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <ng-container matColumnDef="allBuffs">
    <th mat-header-cell *matHeaderCellDef>Buff/Debuffs</th>
    <td mat-cell *matCellDef="let element" class="max-w-md">
      <mat-list>
        <mat-list-item *ngFor="let buff of element.allBuffs">
          <img src="{{ buff.assets.icon }}" class="mr-2" />
          <span
            [class.buff-type]="buff.type === 'buff'"
            [class.debuff-type]="buff.type === 'debuff'"
            >{{ buff.name }}</span
          >: {{ buff.effect }}
        </mat-list-item>
      </mat-list>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
